<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-4"></div>
        <p class="text-center">
          <center style="font-size:30px;">LIST UP</center>
        </p>
        <% if user_signed_in? %>
          <%= link_to " 新規投稿【NEW】", new_users_post_path, class: "btn btn-success fas fa-plus" %>
        <% end %>
        <div class="p-2"></div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>ジャンル</th>
              <th>施設名</th>
              <th>所在地</th>
              <th>朝食の有無</th>
              <th>掲載元URL</th>
            </tr>
          </thead>
            <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.id, users_post_path(post) %></td>
              <td>
                <% if post.genre == "1" %>
                  <%= 'ホテル' %>
                <% elsif post.genre == "2" %>
                  <%= '旅館' %>
                <% else %>
                  <%= '民宿' %>
                <% end %>
              </td>
              <td><%= post.facility_name %></td>
              <td><%= post.address %></td>
              <td>
                <% if post.breakfast_existence == "1" %>
                  <%= '朝食有り' %>
                <% else %>
                  <%= '朝食無し' %>
                <% end %>
              </td>
              <td><%= post.url %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>