<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-4"></div>
        <p class="text-center">
          <center style="font-size:50px;">LIST UP</center>
        </p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>ジャンル</th>
              <th>施設名</th>
              <th>所在地</th>
            </tr>
          </thead>
           <tbody>
             <% @posts.each do |post| %>
             <tr>
               <td><%= link_to post.id, users_post_path(post) %></td>
               <td>
                <% if post.genre == "1" %>
                 <%= 'ホテル' %>
                <% elsif post.genre == "2" %>
                  <%= '旅館' %>
                <% else %>
                  <%= '民宿' %>
                <% end %>
               </td>
               <td><%= post.facility_name %></td>
               <td><%= post.address %></td>
             </tr>
             <% end %>
           </tbody>
        </table>
      </div>
    </div>
  </div>
</main>