<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-5"></div>
        <h5>旅行計画案新規作成</h5>
        <%= form_with model: @plan, url:users_plans_path(@plan), local:true do |f| %>
        </br>
        <div class="form-group row">
          <label for="time" class="col-sm-2">年・月・日・時間</label>
          <div class="col-sm-10">
            <%= f.datetime_field :time %>
          </div>
        </div>
        <div class="form-group row">
          <label for="schedule" class="col-sm-2">スケジュール</label>
          <div class="col-sm-10">
            <%= f.text_area :schedule %>
          </div>
        </div>
        <div class="form-group row">
          <label for="meal" class="col-sm-2">食事(朝・昼・夜)</label>
          <div class="col-sm-10">
            <%= f.select :meal, { ' ':0,'朝':1, '昼':2,'夜':3 }, {include_blank: '---'} %>
          </div>
        </div>
        <div class="form-group row">
          <label for="city_name" class="col-sm-2">都市名</label>
          <div class="col-sm-10">
            <%= f.text_field :city_name, size:30 %>
          </div>
        </div>
        <div class="form-group row">
          <label for="lodgment_target_name" class="col-sm-2">宿泊先名</label>
          <div class="col-sm-10">
            <%= f.text_field :lodgment_target_name, size:30 %>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-2"></label>
          <div class="col-sm-10">
          <%= f.submit "UPLOAD!", class: "btn btn-primary btn-block" %></br>
        </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>