<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-4"></div>
        <p class="text-center">
          <center style="font-size:50px;">旅行計画案(DETAILS)</center>
        </p>
        <div class="p-3"></div>
        <form>
          <label for="name" class="col-sm-2">年・月・日・時間</label>
          　<%= @plan.time.strftime('%Y-%m-%d %T') %>
          </br>
          <label for="schedule" class="col-sm-2">スケジュール</label>
          　<%= @plan.schedule %>
          </br>
          <label for="meal" class="col-sm-2">食事(朝・昼・夜)</label>
            <% if @plan.meal == "0" %>
              <%= '  ' %>
            <% elsif @plan.meal == "1" %>
              <%= '朝' %>
            <% elsif @plan.meal == "2" %>
              <%= '昼' %>
            <% else %>
              <%= '夜' %>
            <% end %>
          </br>　
          <label for="city_name" class="col-sm-2">都市名</label>
            <%= @plan.city_name %>
          </br>
          <label for="lodgment_target_name" class="col-sm-2">宿泊先名</label>
            <%= @plan.lodgment_target_name %>
          </br>
        </form>
          <%= link_to "Edit", edit_users_plan_path, class: "btn btn-success" %>
          <%= button_to "Delete", users_plan_path(@plan), method: :delete, class: "btn btn-danger", "data-confirm" => "この投稿を削除します。よろしいですか？" %>
      </div>
    </div>
  </div>
</main>