<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-4"></div>
        <p class="text-center">
          <center style="font-size:30px;">投稿を編集 -ADMIN-</center>
        </p>
        <%= form_with model: @post, url:admin_posts_path, local:true do |f| %>
        </br>
        <div class="form-group row">
          <label for="inputImage" class="col-md-3 offset-md-2">画像</label>
          <div class="col-sm-7">
            <%= f.attachment_field :image, placeholder: "画像" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="genre" class="col-md-3 offset-md-2">ジャンル</label>
          <div class="col-sm-7">
            <%= f.select :genre, { 'ホテル':1, '旅館':2,'民宿':3 }, {include_blank: '--選択してください--'} %>
          </div>
        </div>
        <div class="form-group row">
          <label for="facility_name" class="col-md-3 offset-md-2">施設名</label>
          <div class="col-sm-7">
            <%= f.text_field :facility_name, size:50 %>
          </div>
        </div>
        <div class="form-group row">
          <label for="address" class="col-md-3 offset-md-2">所在地</label>
          <div class="col-sm-7">
            <%= f.text_field :address, size:50 %>
          </div>
        </div>
        <div class="form-group row">
          <label for="review" class="col-md-3 offset-md-2">レビュー</label>
          <div class="col-sm-7">
            <%= f.text_area :review, size:50 %>
          </div>
        </div>
        <div class="form-group row">
          <label for="breakfast_existence" class="col-md-3 offset-md-2">朝食の有無</label>
          <div class="col-sm-7">
            <%= f.select :breakfast_existence, {'朝食有り':1, '朝食無し':2}, {include_blank: '--選択してください--'} %>
          </div>
        </div>
        <div class="form-group row">
          <label for="url" class="col-md-3 offset-md-2">掲載元URL</label>
          <div class="col-sm-7">
            <%= f.text_field :url, size:50 %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 offset-md-2"></label>
          <div class="col-sm-12">
            <%= f.hidden_field :id, :value => params[:id] %>
            <%= f.submit "UPDATE!", class: "btn btn-success btn-block" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</main>