<main class="mt-5">
  <p id="notice"></p>
  <div class="containe-12">
    <div class="row-6">
      <div class="col">
        <div class="p-4"></div>
        <div class="ribbon6 col-md-6 offset-md-3">
          <h3>LIST UP -ADMIN-</h3>
        </div>
        <div class="p-3"></div>
          <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>画像</th>
              <th>ジャンル</th>
              <th>施設名</th>
              <th>所在地</th>
              <th>レビュー</th>
              <th>朝食の有無</th>
              <th>掲載元URL</th>
              <th>ADMIN ONLY</th>
            </tr>
          </thead>
            <tbody>
              <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.id, admin_post_path(post) %></td>
                <td><%= attachment_image_tag post, :image, format: 'jpeg', size:"30x30" %></td>
                <td>
                  <% if post.genre == 'hotel' %>
                    <%= 'ホテル' %>
                  <% elsif post.genre == 'ryokan' %>
                    <%= '旅館' %>
                  <% else %>
                    <%= '民宿' %>
                  <% end %>
                </td>
                <td><%= post.facility_name %></td>
                <td><%= post.address %></td>
                <td><%= post.review %></td>
                <td>
                  <% if post.breakfast_existence == 'yes' %>
                    <%= '朝食有り' %>
                  <% else %>
                    <%= '朝食無し' %></td>
                  <% end %>
                </td>
                <td><%= post.url %></td>
                <td><%= link_to " edit", edit_admin_post_path(post), class: "btn btn-primary shadow fas fa-edit" %>
                    <%= link_to " delete", admin_post_path(post), method: :delete, class: "btn btn-danger shadow fas fa-trash-alt", "data-confirm" => "この投稿を削除します。よろしいですか？" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>  
      </div>
    </div>
  </div>
</main>