<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-4"></div>
        <div class="text-center">
          <p style="font-size:30px;">ユーザ一覧</p>
        </div>
        <br />
        <table class="table">
          <thead>
            <tr>
              <th>ユーザーID</th>
              <th>ユーザーネーム</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
              <th>ADMIN ONLY</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= link_to admin_user_path(user) do %>
                  <%= user.email %></td>
                  <% end %>
              <% if user.is_valid? %>
              <td>有効</td>
              <% else %>
              <td>退会済み</td>
              <% end %>
              <td><%= link_to " edit", edit_admin_user_path(user), class: "btn btn-primary fas fa-user-edit" %>
              <% if user.is_valid? %>
                  <%= link_to " 退会", admin_confirm_unsubscribe_path(user), class: "btn btn-danger fas fa-user-times" %>
              <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>